.newblog-body{
     width: calc(100vw - 392px);
}

.body-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.form-container{
    width: 524px;
    padding-top: 20px ;
    padding-left: 30px;
}

.newblog-header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem /* 20px */;
    background: #FFFFFF;
    border-bottom: 0.5px solid #707070;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);

}

.newblog-header-title {
    font-family: 'Sarabun', sans-serif;
    font-size: 0.875rem
        /* 14px */
    ;
    line-height: 1.25rem
        /* 20px */
    ;
    font-weight: 500;
}

.newblog-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
    margin-right: 18px;
}

.newblog-header-container-button-draft {
    display: flex;
    width: 70px;
    height: 28px;
    border-radius:  8px ;
    padding: 10px;
    background-color: rgba(58, 3, 46, 1);
    align-items: center;
    justify-items: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border: none;
    }

.newblog-header-container-button-preview {
    display: flex;
    width: 80px;
    height: 28px;
    border-radius:  8px ;
    padding: 10px;
    background-color: rgba(58, 3, 46, 1);
    align-items: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border: none;
   }

.button-label{
    color: white;
    font-family: 'Sarabun', sans-serif;
    font-size: 0.675rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    margin-right: 5px;
    
}

.button-arrow{
    height: 6px;
    margin-left: 2px;
}

.button-eye{
    height: 20px;
}

.draftdropdown{
    height: 13rem/* 208px */;
    width: 18rem/* 288px */;
    z-index: 1;
    position: absolute;
    top: 3rem/* 48px */;
    right: 1.5rem/* 24px */;
    border-radius: 0.5rem/* 8px */;
    background: #FFFFFF;
border: 1px solid #AFB0B6;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.draftdropdowncard{
    margin: 0.5rem/* 8px */;
    padding: 0.5rem/* 8px */;
    background: rgba(255, 171, 166, 0.55);
    border: 1px solid #AFB0B6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); border-radius: 0.25rem/* 4px */;
}

.draftcardtitlecontainer{
    display: flex;
    justify-content: space-between;
}

.drafttitle{
    font-size: 14px;
    font-weight: 500;
    width: 10rem/* 160px */;
    overflow: hidden;
    font-family: 'Sarabun', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(17, 27, 43, 1);
}

.draftdate{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-family: 'Sarabun', sans-serif;
}

.draftdesc{
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Sarabun', sans-serif;
}

.draftpending{
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 0, 0, 1);
    font-family: 'Sarabun', sans-serif;
}

.notifydot{
    height: 12px;
    width: 12px;
    background-color: rgba(234, 63, 25, 1);
    border-radius: 9999px;
    position: absolute;
    top: 0.5rem/* 8px */;
    right: 8.3rem/* 152px */;
    border: 1px solid rgba(144, 144, 144, 1);
}
.thumb-title{
    font-size: 13px;
    font-weight: 500;
}

.right-sidebar{
    height: 100%;
    width: 18rem/* 288px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(248, 248, 248, 1);
}
