.searchbox{
    display: flex;
    margin: 0.25rem/* 4px */;
    align-items: center;
   margin-top: 10px;
    padding: 2px;
    background: #FFFFFF;
    border: 0.5px solid #696666;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.inputBox{
    height: 30px;
    width:260px;
    padding-left: 0.25rem/* 4px */;
    outline: none;
    background: #FFFFFF;
    color: rgba(17, 27, 43, 1);
    font-family: 'Sarabun', sans-serif;
    border: none; /* remove the border */
    
}

.searchicon{
    height: 1.6rem/* 28px */;
    width: 1.6rem/* 28px */;
}

.inputBox::placeholder{
     color: rgba(65, 77, 99, 1);
     font-family: 'Sarabun', sans-serif;
     font-size: 0.875rem/* 14px */;
     line-height: 1.25rem/* 20px */;
}