.Secsidebar{
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 248, 248, 1);
    border-right:1px solid rgba(112, 112, 112, 0.5);
    align-items: center;
    padding-right: 4px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}